@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;450;500;550&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(16, 50, 61);
    /* --primary-text-color: whitesmoke; ORIGINAL */
    /* --primary-text-color: rgb(215, 182, 182); */
    --primary-text-color: rgb(223, 211, 211);
    /* --new-word-bg: rgb(149, 204, 174); ORIGINAL */
    /* --new-word-bg: rgb(112, 147, 128); */
    /* --new-word-bg: rgb(93, 112, 106); */
    --new-word-bg: rgb(90, 134, 120);
    /* --new-word-color: rgb(12, 37, 46); ORIGINAL */
    --new-word-color: rgb(32, 36, 34);
    /* --new-word-color: rgb(2, 2, 2); */

    /* --recognized-word-bg: rgb(110, 161, 144); ORIGINAL */
    /* --recognized-word-bg: rgb(93, 112, 106); */
    /* --recognized-word-bg: rgb(97, 97, 105); */
    --recognized-word-bg: rgb(93, 108, 110);
    --recognized-word-color: var(--new-word-color);
    /* --familiar-word-bg: rgb(31, 76, 85); ORIGINAL */
    --familiar-word-bg: rgb(23, 66, 75);
    /* --familiar-word-color: rgb(241, 235, 235); ORIGINAL */
    /* --familiar-word-color: rgb(231, 211, 211); */
    /* --familiar-word-color: rgb(93, 170, 225); */
    /* --familiar-word-color: rgb(17, 157, 211); */
    --familiar-word-color: var(--primary-text-color);
    --learned-word-bg: inherit;
    --learned-word-color: var(--familiar-word-color);
    --box-outline-green: rgb(23, 109, 95);
    --selected-word-color: var(--new-word-color);
    --selected-word-bg: rgb(118, 148, 146);
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

input {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    border: 2px solid var(--box-outline-green);
    margin: 1px 0;
    padding: 4px;
    width: auto;
    overflow: visible;
}

button {
    /* reset button START */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
    text-align: inherit;
    outline: none;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    /* reset button END */

    cursor: pointer;
    border: 1px outset rgb(157, 169, 175);
    padding: 4px;
    color: rgb(26, 24, 24);
    background-color: rgb(109, 109, 114);
}

textarea {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

/* NEW LESSON VIEW */

.new-lesson-view {
    text-align: right;
}

.new-lesson-view .textarea-container {
    direction: rtl;
}

.new-lesson-view input {
    margin-left: auto;
    display: block;
    font-size: 20px;
}

.new-lesson-view textarea {
    direction: rtl;
    font-size: 40px;
    max-width: 100%;
    max-height: 50vh;
    min-height: 400px;
    font-weight: 500;
    font-family: 'Noto Naskh Arabic', serif;
}

.selected-lesson-view {
    max-width: 1400px;
}

.lessons-view .lesson-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.displayed-words {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    overflow-y: scroll;
    direction: rtl;
    /* max-height: 750px; */
    /* these don't seem to do anything */
    /* -webkit-text-stroke: 1 px transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always; */
    padding-bottom: 40%;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Noto Naskh Arabic', serif;
}

.displayed-words p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2px;
    /* margin-top: 0; */
    margin-bottom: 40px;
    /* this is necessary for punctuation to appear in the correct spot */
    align-items: center;
}

.displayed-words .word, .displayed-words .non-word {
    margin: 0 1px;
}

.displayed-words .word {
    margin-top: 4px;
    margin-bottom: 4px;
    /* margin-right: 6px; */
    display: inline-block;
    padding: 2px 2px;
    /* padding: 8px 4px; */
    cursor: pointer;
    background-color: rgb(72, 151, 204);
    border: 2px solid var(--main-bg-color);
    border-radius: 2px;
    transition: all 300ms, color 100ms;
}

.word {
    color: rgb(12, 37, 46);
}

.word.new {
    color: var(--new-word-color);
    background-color: var(--new-word-bg);
}

.word.recognized {
    color: var(--recognized-word-color);
    background-color: var(--recognized-word-bg);
}

.word.familiar {
    color: var(--familiar-word-color);
    background-color: var(--familiar-word-bg);
}

.word.learned {
    color: var(--learned-word-color);
    background-color: var(--learned-word-bg);
}

.displayed-words .word.part-of-phrase {
    /* HACK: temporary styling fix */
    outline: solid 1px rgb(196, 161, 98);
}

.displayed-words .word:hover, .displayed-words .word.selected {
    color: var(--new-word-color);
    background-color: rgb(118, 148, 146);
    border: 2px solid rgb(118, 148, 146);
    transition: all 300ms, color 100ms;
}

.selected-word-edit-and-lesson-translation {
    direction: ltr;
    background-color: rgb(16, 73, 92);
    margin: 8px 4px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 8fr 7fr;
}

.selected-word-edit input {
    margin: 0 auto;
    display: block;
}

.selected-word-edit input.romanization {
    margin-top: 10px;
    background-color: rgb(72, 62, 87);
}

.selected-word-edit .primary-definition {
    font-size: 26px;
    font-weight: bold;
    color: var(--selected-word-color);
    background-color: var(--selected-word-bg);
}

.selected-word-tags-edit {
    background-color: rgba(36, 24, 24, 0.507);
    margin: 0 20px;
}

.familiarity-level-selector {
    display: flex;
    justify-content: center;
}

.familiarity-level-selector button {
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 2px;
    color: rgb(12, 37, 46);
    font-weight: bold;
}

.familiarity-level-selector button.selected.new {
    color: var(--new-word-color);
    background-color: var(--new-word-bg);
}

.familiarity-level-selector button.selected.recognized {
    color: var(--recognized-word-color);
    background-color: var(--recognized-word-bg);
}

.familiarity-level-selector button.selected.familiar {
    color: var(--familiar-word-color);
    background-color: var(--familiar-word-bg);
}

.familiarity-level-selector button.selected.learned {
    color: var(--learned-word-color);
    background-color: var(--learned-word-bg);
}

.lesson-words-and-lookup {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: solid var(--box-outline-green);
    height: 800px;
    /* ensure the left bar doesn't move our window around */
}

.lesson-translation-box {
    background-color: rgb(20, 67, 83);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.image-lesson-page .image-lesson-view {
    /* give the textboxes an anchor to position themselves against */
    position: relative;
    /* inline-block makes it so that the dive takes up the same space as the image, which is
    critical for our placements to work corrently */
    display: inline-block;
    /* filter: invert(1); */
}

.image-lesson-page .image-lesson-view .lesson-text-box {
    background-color: black;
    color: white;
    position: absolute;
}


/* flashcard stuff */
.lesson-flashcard-view {
    border: solid rgb(23, 109, 95);
    padding: 20% 0;
    margin: 8px 0;
    margin-bottom: 40%;
}

.flashcard-view {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.flashcard-view .sentence {
    direction: rtl;
}

.flashcard-view .target-wop {
    background-color: rgb(44, 133, 44);
    border-radius: 16px;
    padding: 8px;
}

.flashcard-view .definitions {
    margin-bottom: 16px;
    font-size: 32px;
    background-color: rgb(20, 67, 83);
}

.flashcard-view .romanization {
    margin-top: 16px;
    font-size: 24px;
    color: gray;
}

/* enter new wops page */

.enter-new-wops {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 24px;
}

.enter-new-wops .input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 4px;
}

.enter-new-wops input {
    font-size: inherit;
    font-family: 'Noto Naskh Arabic', serif;
}

.enter-new-wops p {
    margin: 0;
}

.enter-new-wops .egyptian {
    font-size: 44px;
    font-weight: 450;
    direction: rtl;
}

.enter-new-wops .save-new-wop {
    display: block;
}