@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;450;500;550&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* green is accent color, not ideal reading color; peach/orange/yellow = good colors */

    /* against black = 7.21 contrast */
    --nb-islamic-green: #03B000;

    /* against chartreuse = 7.23 contrast; does not conflict with other colors */
    --nb-dark-green: #005E00;

    /* against black = 7.0 contrast; either orange is fine as long as they're not used in the same logical areas */
    --nb-vivid-orange: #FF6200;

    /* against black = 7.53 contrast; doesn't color-blind clash with darkest-chartreuse, whereas vivid orange does */
    --nb-philippine-orange: #FF6F00;

    /* against black = 7.15 contrast; this color is nice cuz it doesn't clash with anything except islamic green and vivid orange (for color-blind friendliness), but is fine with philippine-orange */
    --nb-darkest-chartreuse: #949E00;

    /* against black 7.81 contrast; a more distinctive color than dark-chartreuse, but clashes color-blindness-wise with oranges and greens */
    --nb-light-gold: #B39E00;

    /* against black = 11.0 contrast */
    --nb-chrome-yellow: #FFAA00;

    /* against black = 14.47 contrast */
    --nb-cyber-yellow: #FFD200;

    /* against black = 18.8 contrast */
    --nb-chartreuse: #EAFF00;

    --main-bg-color: var(--nb-chartreuse);

    --primary-text-color: black;

    --unknown-word-bg: var(--nb-philippine-orange);

    --new-word-bg: var(--nb-darkest-chartreuse);
    --new-word-color: var(--primary-text-color);

    --recognized-word-bg: var(--nb-chrome-yellow);
    --recognized-word-color: var(--new-word-color);

    --familiar-word-bg: var(--nb-cyber-yellow);
    --familiar-word-color: var(--primary-text-color);

    /* aka blend into background */
    --learned-word-bg: var(--nb-chartreuse);
    --learned-word-color: var(--primary-text-color);

    --selected-word-bg: var(--nb-dark-green);
    --selected-word-color: yellow;

    --box-outline-green: var(--nb-vivid-orange);
}

body {
    background-color: var(--nb-chrome-yellow);
    color: var(--primary-text-color);
}

input {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    border: 2px solid var(--box-outline-green);
    margin: 1px 0;
    padding: 4px;
    width: auto;
    overflow: visible;
}

button {
    /* reset button START */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
    text-align: inherit;
    outline: none;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    /* reset button END */

    cursor: pointer;
    border: 1px outset var(--nb-islamic-green);
    padding: 4px;
    color: var(--primary-text-color);
    background-color: var(--nb-islamic-green);
}

textarea {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

/* NEW LESSON VIEW */

.new-lesson-view {
    text-align: right;
}

.new-lesson-view .textarea-container {
    direction: rtl;
}

.new-lesson-view input {
    margin-left: auto;
    display: block;
    font-size: 20px;
}

.new-lesson-view textarea {
    direction: rtl;
    font-size: 40px;
    max-width: 100%;
    max-height: 50vh;
    min-height: 400px;
    font-weight: 500;
    font-family: 'Noto Naskh Arabic', serif;
}

.selected-lesson-view {
    max-width: 1400px;
}

.lessons-view .lesson-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.displayed-words {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    overflow-y: scroll;
    direction: rtl;
    /* max-height: 750px; */
    /* these don't seem to do anything */
    /* -webkit-text-stroke: 1 px transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always; */
    padding-bottom: 40%;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Noto Naskh Arabic', serif;
    background-color: var(--main-bg-color);
}

.displayed-words p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2px;
    /* margin-top: 0; */
    margin-bottom: 40px;
    /* this is necessary for punctuation to appear in the correct spot */
    align-items: center;
}

.displayed-words .word, .displayed-words .non-word {
    margin: 0 1px;
}

.displayed-words .word {
    margin-top: 4px;
    margin-bottom: 4px;
    /* margin-right: 6px; */
    display: inline-block;
    padding: 2px 2px;
    /* padding: 8px 4px; */
    cursor: pointer;
    background-color: var(--unknown-word-bg);
    border: 2px solid var(--main-bg-color);
    border-radius: 2px;
    transition: all 300ms, color 100ms;
}

.word.new {
    color: var(--new-word-color);
    background-color: var(--new-word-bg);
}

.word.recognized {
    color: var(--recognized-word-color);
    background-color: var(--recognized-word-bg);
}

.word.familiar {
    color: var(--familiar-word-color);
    background-color: var(--familiar-word-bg);
}

.word.learned {
    color: var(--learned-word-color);
    background-color: var(--learned-word-bg);
}

.displayed-words .word.part-of-phrase {
    /* HACK: temporary styling fix */
    outline: solid 1px var(--nb-islamic-green);
}

.displayed-words .word:hover, .displayed-words .word.selected {
    color: var(--selected-word-color);
    background-color: var(--selected-word-bg);
    border: 2px solid var(--selected-word-bg);
    transition: all 300ms, color 100ms;
}

.selected-word-edit-and-lesson-translation {
    direction: ltr;
    /* background-color: rgb(16, 73, 92); */
    margin: 8px 4px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 8fr 7fr;
}

.selected-word-edit input {
    margin: 0 auto;
    display: block;
}

.selected-word-edit input.romanization {
    margin-top: 10px;
    background-color: var(--nb-cyber-yellow);
}

.selected-word-edit .primary-definition {
    font-size: 26px;
    font-family: 'Noto Naskh Arabic', serif;
    color: var(--selected-word-color);
    background-color: var(--selected-word-bg);
    margin-top: 0;
    padding: 4px 0;
}

.selected-word-edit .primary-definition .egyptian {
    font-size: 40px;
    font-weight: 550;
}

.selected-word-tags-edit {
    /* background-color: rgba(36, 24, 24, 0.507); */
    margin: 0 20px;
}

.familiarity-level-selector {
    display: flex;
    justify-content: center;
}

.familiarity-level-selector div {
    font-size: 16px;
    border: 1px solid var(--primary-text-color);
    cursor: pointer;
    margin: 0 2px;
    background-color: var(--nb-philippine-orange);
    color: var(--primary-text-color);
    font-weight: bold;
    width: 20px;
}

.familiarity-level-selector div.selected.new {
    color: var(--new-word-color);
    background-color: var(--new-word-bg);
}

.familiarity-level-selector div.selected.recognized {
    color: var(--recognized-word-color);
    background-color: var(--recognized-word-bg);
}

.familiarity-level-selector div.selected.familiar {
    color: var(--familiar-word-color);
    background-color: var(--familiar-word-bg);
}

.familiarity-level-selector div.selected.learned {
    color: var(--learned-word-color);
    background-color: var(--learned-word-bg);
}

.lesson-words-and-lookup {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: solid var(--box-outline-green);
    height: 800px;
    /* ensure the left bar doesn't move our window around */
}

.lesson-translation-box {
    background-color: var(--nb-cyber-yellow);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.image-lesson-page .image-lesson-view {
    /* give the textboxes an anchor to position themselves against */
    position: relative;
    /* inline-block makes it so that the dive takes up the same space as the image, which is
    critical for our placements to work corrently */
    display: inline-block;
    /* filter: invert(1); */
}

.image-lesson-page .image-lesson-view .lesson-text-box {
    background-color: black;
    color: white;
    position: absolute;
}


/* flashcard stuff */
.lesson-flashcard-view {
    border: solid rgb(23, 109, 95);
    padding: 20% 0;
    margin: 8px 0;
    margin-bottom: 40%;
}

.flashcard-view {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.flashcard-view .sentence {
    direction: rtl;
}

.flashcard-view .target-wop {
    background-color: rgb(44, 133, 44);
    border-radius: 16px;
    padding: 8px;
}

.flashcard-view .definitions {
    margin-bottom: 16px;
    font-size: 32px;
    background-color: rgb(20, 67, 83);
}

.flashcard-view .romanization {
    margin-top: 16px;
    font-size: 24px;
}

/* enter new wops page */

.enter-new-wops {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 24px;
}

.enter-new-wops .input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 4px;
}

.enter-new-wops input {
    font-size: inherit;
    font-family: 'Noto Naskh Arabic', serif;
}

.enter-new-wops p {
    margin: 0;
}

.enter-new-wops .egyptian {
    font-size: 44px;
    font-weight: 450;
    direction: rtl;
}

.enter-new-wops .save-new-wop {
    display: block;
}

/* audio */


.audio-container audio {
    width: 100%;
}

.audio-container audio::-webkit-media-controls-panel {
    background-color: var(--nb-cyber-yellow);
    color: black;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: var(--nb-vivid-orange);
}

::-webkit-scrollbar-track {
    background-color: var(--nb-vivid-orange);
}

::-webkit-scrollbar-thumb {
    background-color: var(--nb-chrome-yellow);
    border: inset 2px var(--nb-vivid-orange);
    border-radius: 10px;
}

::-webkit-resizer {
    background-color: var(--nb-cyber-yellow);
}